@import "tailwindcss";

:root {
  font-family: "Open Sans", sans-serif;
  
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-main);
  color: var(--color-text);

  --color-main: #ffffff; /* main background color */
  --color-text: #000000; /* main text color */
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --color-main: #1a1c1e; /* main background color */
  --color-text: #ffffff; /* main text color */
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Breakpoint */
  --breakpoint-end-mobile: 56rem;

  /* Main */
  --color-main: var(--color-main);
  --color-text: var(--color-text);
  
  --spacing-mobile-padding: 1rem;

  /* Burger Menu */
  --width-burger-menu-width: 1.5rem;
  --animate-burger-menu-open: burger-menu-open 10000ms;
}