@import "tailwindcss";

:root {
  /* Main */
  --main-color: #F0F0F0;

  --main-background-color: #1a1c1e;


  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--main-background-color);
  
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* Main */
  --color-main: var(--main-color);
  --color-brown: #b7a5a5;

  --spacing-main-padding: 1rem;


  /* Burger Menu */
  --width-burger-menu-width: 1.5rem;
  --animate-burger-menu-open: burger-menu-open 10000ms;
}